* {
  border: 2px solid black;
}
.menu img {
  width: 10%;
  position:absolute;
  right: 2%;
  margin-top: 1.5%;
}
#name{
  float: left;
}
.hero img {
  max-width: 100%;
  padding-top: 20px;
}
.nav {
  display: none;
}
main {
  margin-top: 10px;
}
#name{
  margin-top: 1%;
  margin-left:1%;
}
