* {
  border: 2px solid black;
}
main{
  max-width: 960px;
  margin: 0 auto;
}
#header {
  border: 2px solid red;
}

 #menu{
  width: 3em;
  border: 2px solid red;
  position:fixed;
  right: 2%;
}
#name{
  width: 20%;
  font-size: 2em;
  float:left;
  border: 2px solid green;

}
img {
  max-width: 100%;
}
.nav {
  width: 50%;
  border:2px solid blue;
  display: block;
  position:fixed;
  right: 5px;
  margin-top: 55px;
  display: none;
}
.nav li {
  font-size: 1.5em;
  background-color: red;
  border: 1px solid red;
}

.clearFix{
  clear:both;
}
.projects{
  width: 100%;
  margin: 0 auto;
  border:2px solid red;
}
.projects h2{
  font-size: 1.5em;
}
.project-menu{
  text-align: center;
}
.project-menu li {
  display: inline;
  margin: 1em;
}
.hero {
  margin: 0 auto;
  text-align: center;
}
#skill-1{
  float:left;
}
.skills ul{
  text-align: center;
}
